<h1>単語の詳細</h1>

<h3><%= @question.question %></h3>

<% @question.question_similars.each do |similar|%>
  <%= similar.similar_word %>
  <%= link_to "削除する", "/questions/#{@question.id}/question_similars/#{similar.id}",  method: :delete %><br>
<% end %>

<div>
  <%= link_to "戻る", questions_path %>
</div>
