// 追加ボタン
.add-to {
  color: #fff;
  text-align: center;
  background: rgb(218, 99, 52);
  padding: 5px;
  font-style: bold;
  border-radius: 5px;
  &:hover {
    cursor : pointer;
  }
}

// 削除するlink
.similar-add {
  font-size: 15px;
}